NameError: name 'combined_portfolio' is not defined

In [3]:
# Initialized Import
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

#Set file path 
whale_returns = Path("Resources/whale_returns.csv")
whale_dataframe = pd.read_csv(whale_returns, parse_dates=['Date'], index_col="Date")

algo_returns = Path("Resources/algo_returns.csv")
algo_dataframe = pd.read_csv(algo_returns, parse_dates=['Date'], index_col="Date")

sp500_returns = Path("Resources/sp500_history.csv")
sp500_dataframe = pd.read_csv(sp500_returns, parse_dates=['Date'], index_col="Date")


#Identified and dropped null records  
whale_dataframe = whale_dataframe.dropna()

sp500_dataframe = sp500_dataframe.dropna()

#Dropped duplicates
whale_dataframe = whale_dataframe.drop_duplicates()

algo_dataframe = algo_dataframe.drop_duplicates()

sp500_dataframe = sp500_dataframe.drop_duplicates()

#Deafult null "algo 2" values to zero
algo_dataframe['Algo 2'] = algo_dataframe['Algo 2'].fillna(0)

# Cleaning "Price" series by removing $
sp500_dataframe["Close"] = sp500_dataframe["Close"].str.replace('$', '')

# Converting sp500 "Close" values to int
sp500_dataframe['Close'] = pd.to_numeric(sp500_dataframe['Close'])

# Convert S&P500 closing prices to daily returns
## "sp500_return" is the new dataframe
sp500_return = sp500_dataframe.pct_change()

# Sort out Data in ascending order

whale_ascend = whale_dataframe.sort_values("Date", ascending=True)
algo_ascend = algo_dataframe.sort_values("Date", ascending=True)
sp500_ascend = sp500_return.sort_values("Date", ascending=True)


whale_algo = pd.concat([whale_ascend,algo_ascend], axis= 'columns', join='outer')

combined_portfolio = pd.concat([whale_algo,sp500_ascend], axis= 'columns', join='outer')

combined_portfolio

#Identified and dropped null records in the combined portfolio
combined_portfolio = combined_portfolio.dropna()

#Dropped duplicates in the combined protfolio
combined_portfolio = combined_portfolio.drop_duplicates()

combined_portfolio

<ipython-input-3-f1b81a97496a>:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500_dataframe["Close"] = sp500_dataframe["Close"].str.replace('$', '')

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,0.004408
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.001195
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.014378
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.003929
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,0.017254
...,...,...,...,...,...,...,...
2019-04-15,-0.001422,-0.001156,0.000398,-0.010492,-0.004331,-0.004572,-0.000509
2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,0.002279
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,-0.001577
2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,-0.001011
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,-0.008764